{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us!</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome</p>
        </div>
    </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <p align="justify">
        <br><br>
          <p>At <strong>Purrfection Cat Emporium</strong>, we’re more than just a cat shop—we’re a community of feline enthusiasts dedicated to connecting loving humans with their purr-fect companions.</p>
          <p>Our journey started with a simple mission: to celebrate the unique charm of cats and help them find their forever homes. From playful kittens to regal tabbies, every cat here is cared for with love and attention, ready to bring joy to their new family.</p>
          <p>We believe cats deserve the best, which is why we also offer a curated selection of premium toys, treats, and accessories to keep your furry friend happy and healthy.</p>
          <p>So, whether you’re looking for a new four-legged family member or just spoiling the one you already have, you’ve come to the right place.</p>
          <p>🐾 <strong>Purrfection: Where Love Meets Whiskers!</strong> 🐾</p>
        <br><br>
      </p>
    </div>
  </div>
</div>

{% endblock %}