{% extends 'base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Pending Orders</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome</p>
        </div>
    </div>
</header>
<div class="container">
  <br><br>
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <table class="table table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th scope="col">Order id</th>
            <th scope="col">Price</th>
            <th scope="col">Client contact</th>
            <th scope="col">Order date</th>
            <th scope="col">Ship status</th>
          </tr>
        </thead>
        <tbody>
        {% for order in pending_orders %}
          <tr>
            <td><a href="{% url 'orders' order.id %}">{{ order.id }}</a></td>
            <td>${{ order.amount_paid }}</td>
            <td>{{ order.email }}</td>
            <td>{{ order.date_ordered }}</td>
            <td>
              <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="ship_status" value="true">
                <input type="hidden" name="num" value="{{ order.id }}">
                <button type="Submit" class="btn btn-success btn-sm">Mark as Shipped</button>
              </form>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <br><br>
</div>

{% endblock %}