{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Order</h1>
            <p class="lead fw-normal text-white-50 mb-0">Process orders</p>
        </div>
    </div>
</header>

<br>

<div class="container">
  <div class="col-md-6 offset-md-3">
      <div class="card">
          <div class="card-header">
            Order Summary
          </div>
          <div class="card-body">
              {% for product in prods %}
                {{ product.name }}
                {% if product.is_sale %}
                    <strike>${{ product.price }}</strike>
                    &nbsp;
                    ${{ product.sale_price }}
                {% else %}
                    ${{ product.price }}
                {% endif %}
                    <br><br>
                  <small>Quantity:
                  {% for key, value in quantities.items %}
                    {% if key == product.id|slugify %}
                        {{ value }}
                    {%  endif %}
                  {% endfor %}
                  </small>
              <br><br>
              {% endfor %}
              <br><br>
              <strong>TOTAL: ${{ total }}</strong>
              <br><br>
              <a href="{% url 'cart_summary' %}" class="btn btn-sm btn-outline-secondary">Edit Items</a>

          </div>
      </div>
      <br><br>
      <div class="card">
          <div class="card-header">
            Shipping Info
          </div>
          <div class="card-body">
              Name: {{ shipping_details.ship_full_name }} <br><br>
              Email Address: {{ shipping_details.ship_email }} <br><br>
              Address 1: {{ shipping_details.ship_address1 }} <br><br>
              Address 2: {{ shipping_details.ship_address2 }} <br><br>
              City: {{ shipping_details.ship_city }} <br><br>
              State: {{ shipping_details.ship_state }} <br><br>
              Country: {{ shipping_details.ship_country }} <br><br>
              Zipcode: {{ shipping_details.ship_zipcode }} <br><br>

              <a href="{% url 'checkout' %}" class="btn btn-sm btn-outline-secondary">Edit Shipping Info</a>
          </div>
      </div>
      <br><br>
      <div class="card">
          <div class="card-header">
            Billing Info
          </div>
          <div class="card-body">
              <form method="POST" action="{% url 'process_order' %}">
                  {% csrf_token %}
                {{ billing_form.as_p }}
                <button type="submit" class="btn btn-success">Pay</button>
              </form>
          </div>
      </div>
      <br><br>
      <br><br>
  </div>
</div>


{% endblock %}