{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Your items </h1>
            <p class="lead fw-normal text-white-50 mb-0">View your cart</p>
        </div>
    </div>
</header>

<br>

<div class="container">

    {% if prods %}

        {% for product in prods %}
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img src="{{ product.image.url }}" class="img-fluid rounded-start img-thumbnail" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                        <center>
                          <h5 class="card-title">{{ product.name }}</h5>
                            <br>
                          <p class="card-text justified">{{ product.description }}</p>
                          <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <br>
                          {% if product.is_sale %}
                              <strike>${{ product.price }}</strike>
                              &nbsp;
                              ${{ product.sale_price }}
                          {% else %}
                            ${{ product.price }}
                          {% endif %}
                            <br><br>
                            <div class="row justify-content-center">
                                 <div class="col-md-4">Quantity:</div>
                                <div class="col-md-4">
                                    <select class="form-select form-select-sm" id="select{{ product.id }}">
                                      <option selected>
                                          {% for key, value in quantities.items %}
                                            {% if key == product.id|slugify %}
                                                {{ value }}
                                            {%  endif %}
                                          {% endfor %}
                                      </option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="1">4</option>
                                        <option value="2">5</option>
                                        <option value="3">6</option>
                                    </select>
                                </div>
                            </div>
                            <br>
                            <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-secondary update-cart">Update</button>
                            <button type="button" data-index="{{ product.id }}" class="btn btn-danger btn-secondary delete-cart">Remove</button>
                        </center>
                    </div>
                  </div>
                </div>
            </div>
        {% endfor %}
    <div align="right">
    <br><h3>TOTAL: ${{ total }}</h3><br>
        <a href="{% url 'checkout' %}" class="btn btn-success">Checkout</a>
        <br><br>
    </div>
    {% else %}
         <br> There are no items in your cart <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    {% endif %}
</div>


<script>
$(document).on('click', '.update-cart', function(e) {
  e.preventDefault();
  var prod_id = $(this).data('index');

  $.ajax({
    type: 'POST',
    url: '{% url 'cart_update' %}',
    data: {
      product_id: $(this).data('index'),
      product_quantity: $('#select' + prod_id + ' option:selected').text(),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json) {
      location.reload()
    },

    error: function(xhr, errmsg, err) {}
  });
})


$(document).on('click', '.delete-cart', function(e) {
  e.preventDefault();

  $.ajax({
    type: 'POST',
    url: '{% url 'cart_delete' %}',
    data: {
      product_id: $(this).data('index'),
      csrfmiddlewaretoken: '{{ csrf_token }}',
      action: 'post'
    },

    success: function(json) {
      location.reload()
    },

    error: function(xhr, errmsg, err) {}
  });
})
</script>

{% endblock %}